<h1> Here is our menu: </h1>

<ul>
  {{#each dbMenu}}
    <li>
      <p>Name: {{dataValues.drink_name}}</p>
      <p>Price: {{dataValues.price}}</p>
      <p>Description: {{dataValues.description}}</p>
      <p>Ingredients: {{dataValues.ingredients}}</p>
      <p>Category: {{dataValues.category}}</p>
    </li>
  {{/each}}
</ul>
