<h1> Here is our menu: </h1>

<ul>
  {{#each menus}}
    <li>
      <p>Name: {{drink_name}}</p>
      <p>Price: {{price}}</p>
      <p>Description: {{description}}</p>
      <p>Ingredients: {{ingredients}}</p>
      <p>Category: {{category}}</p>
    </li>
  {{/each}}
</ul>
