<footer class="footer">
  <div class="content has-text-centered">
    <p>
<h1> MENU </h1>
    </p>
  </div>
</footer>


<h3> Drink List : {{dataValues.drinklist}} </h3>
<ul id ="drink-list">
  
</ul>
<ul>
  {{#each dbMenu}}
    <li>
      <p>Name: {{dataValues.drink_name}}</p>
      <p>Price: {{dataValues.price}}</p>
      <p>Description: {{dataValues.description}}</p>
      <p>Ingredients: {{dataValues.ingredients}}</p>
      <p>Category: {{dataValues.category}}</p>
      <img class = "image is-128x128"src="{{dataValues.images}}">
      <br>
      <button data-name="{{dataValues.drink_name}}" data-price="{{dataValues.price}}" class="place-order">Order</button>
    </li>
  {{/each}}
</ul>

{{!-- <ul>
  {{#each dbTab}}
    <li>
      <p>Name: {{dataValues.currentbill}}</p>
      <p>Price: {{dataValues.drinklist}}</p>
    </li>
  {{/each}}
</ul> --}}



